.month {
  margin-bottom: 50px;
}

.month__week-days,
.month__days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.month__week-days {
  flex-wrap: nowrap;
}

.month__weekend {
  font-weight: bolder;
}

.month__days {
  flex-wrap: wrap;
}

.month__week-day,
.month__day-wr {
  width: calc(950px  / 7);
}

.month__day-wr {
  height: calc(950px  / 7);
  box-sizing: border-box;
  padding: 25px;
}

.month__day {
  border: none;
  border-radius: 50%;
  height: 100%;
  line-height: calc(950px / 7 - 50px);
  position: relative;
  width: 100%;
  font-size: 14px;

  &--selected {
    text-decoration: underline;
  }

  &--from-other-month {
    opacity: .3;
  }

  &--event {
    color: #0088ff;
    border: 1px solid #d1d9e1;
  }

   &--beginning-event {
    &::after {
      content: '';
      width: 25px;
      position: absolute;
      top: 50%;
      border: 1px solid pink;
      right: -26px;
    }
  }

  &--continuation-event {
    &::before {
      content: '';
      width: 25px;
      position: absolute;
      top: 50%;
      border: 1px solid pink;
      left: -27px;
    }
  }

  &--day-off {
    color: #fd08f2;
  }

  &--current-day {
    outline: 1px solid #ffbfcb
  }
}

.month__event-descriptions {
  word-break: break-all;
  margin: 70px 50px 30px 30px;
  text-align: left;
  font-size: 21px;
  background-color: white;
  border: 1px dotted #d1d9e1;
  padding: 10px 20px;
  padding-left: 45px;

  & > li  {
    padding: 7px 0;
  }
}

button.month__event-remove-btn {
  font-weight: bold;
  background: none;
  border: none;
  outline: none;
}
