<div class="month">
    <div class="month__days-sheet">
        <div class="month__week-days">
            <div class="month__week-day">Mon</div>
            <div class="month__week-day">Tue</div>
            <div class="month__week-day">Wed</div>
            <div class="month__week-day">Thu</div>
            <div class="month__week-day">Fri</div>
            <div class="month__week-day month__weekend">Sat</div>
            <div class="month__week-day month__weekend">Sun</div>
        </div>

        <div class="month__days">
            <div class="month__day-wr" v-for="dateItem in shownDates">
                <button class="month__day"
                    v-bind:class="getSpecialClasses(dateItem)"
                    @click="selectDate(dateItem)">
                    {{ dateItem.date.getDate() }}
                </button>
            </div>
        </div>
    </div>

    <transition name="fade">
        <ol class="month__event-descriptions"
            v-if="selectedDateInfo && selectedDateInfo.events.length">
            <li v-for="event in selectedDateInfo.events">
                {{ event.name }}
                (<span v-for="(type, typeIndex) in event.types" class="month__event-type">
                    {{ type[1].replace('_', ' ') }}
                    <span v-if="typeIndex < event.types.length - 1">, </span>
                </span>)
                <button class="month__event-remove-btn"
                    v-if="!checkIsEventUnremovable(event.types)"
                    @click="removeEvent(event.id)">
                    remove
                </button>
            </li>
        </ol>
    </transition>
</div>