<div class="calendar">
    <div class="calendar__heading">
        <button @click="slideToPrevMonth" class="app__btn calendar__arrow-btn calendar__arrow-btn--left">
            <img src="/static/arrow.svg">
        </button>
        <h1>
            <transition name="fade">
                <span v-if="monthParams">{{ pageTitle }}</span>
            </transition>
        </h1>
        <button @click="slideToNextMonth" class="app__btn calendar__arrow-btn">
            <img src="/static/arrow.svg">
        </button>

        <button class="app__btn calendar__event-form-opener"
            @click="openEventForm()">
            Add
        </button>
    </div>

    <transition v-bind:name="animationName">
        <month v-if="monthParams"
            v-bind:monthParams="monthParams"
            v-bind:events="events"
            v-bind:unremovable-events-types="unremovableEventsTypes"
            v-bind:delete-event="deleteEvent"
        />
    </transition>

    <modal v-bind:is-shown="isEventFormShown">
        <form class="calendar__event-form" @submit="checkAndSubmitEventForm">
            <div class="calendar__event-form-field">
                <input v-model="newEventData.name" required placeholder="Event title" type="text"/>
            </div>

            <div class="calendar__event-form-field">
                <select v-model="newEventData.types" required multiple>
                    <option v-for="type in eventsTypes" v-bind:value="type">
                        {{ type[1].replace('_', ' ') }}
                    </option>
                </select>
            </div>

            <div class="calendar__event-form-field">
                <label>Starts at</label>
                <input v-model="newEventData.start" required type="date"/>
            </div>

            <div class="calendar__event-form-field">
                <label>Ends at</label>
                <input v-model="newEventData.end" required type="date"/>
            </div>

            <div class="calendar__event-form-field">
                <button type="button" class="app__btn" @click="isEventFormShown = false">Cancel</button>
                <button type="submit" class="app__btn">Add</button>
            </div>
        </form>
    </modal>
</div>