.calendar {
    width: 950px;
}

.calendar__heading {
    margin: 50px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 25px;
    position: relative;

    & > h1 {
        width: 260px
    }
}

.calendar__arrow-btn {
    padding: 5px 10px;

    &--left {
        transform: rotate(180deg);
    }

    & > img {
        height: 15px;
    }
}

.calendar__event-form-opener {
    font-weight: bolder;
    margin-left: 20px;
    position: absolute;
    right: 50px;
    padding: 10px 20px;
}

.calendar__event-form {
    padding: 10px 20px 30px;
    width: 350px;
}

.calendar__event-form-field {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    flex-wrap: nowrap;

    input,
    select,
    label {
        display: block;
        height: 30px;
        font-size: 20px;
        flex-shrink: 1;
        width: 100%;
        line-height: 30px;
    }

    label {
        text-align: left;
        flex-shrink: 2.8;
    }

    &:last-child {
        margin-bottom: 0px;
        margin-top: 50px;
        justify-content: space-around;
    }

    button {
        padding: 8px 0;
        width: 75px;
    }
}

.sliding-forward-enter-active,
.sliding-forward-leave-active,
.sliding-backward-enter-active,
.sliding-backward-leave-active {
    transition: transform .25s;
}

.sliding-forward-enter,
.sliding-forward-leave-to {
    transform: translateX(1000%)
}

.sliding-backward-enter,
.sliding-backward-leave-to {
    transform: translateX(-1000%)
}