body {
    margin: 45px 45px 60px;
}

h1 {
    margin: 15px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 0;
}

button,
input,
select {
    &:focus {
        outline: none;
    }
}

#app {
    @media screen and (max-width: 950px) {
        justify-content: start;
    }

    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: lightslategrey;
    min-height: 100vh;
    padding-top: 1px;
    display: flex;
    justify-content: center;
    overflow: scroll;

    @keyframes gradientMoving {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

    select[multiple] {
        height: max-content;
        max-height: 130px;
    }
}

.app__btn {
    border: 1px solid #d1d9e1;
}

.app__gradient-bg {
    background: linear-gradient(left, rgba(245,240,255,1) 0%, rgba(240,248,255,1) 33%, rgba(240,248,248,1) 64%, rgba(240,248,230,1) 100%);
    background-size: 200% 200%;
    animation: gradientMoving 3s ease infinite;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .25s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}